header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

header .logo a {
  display: flex;
  align-items: center;
  height: 45px;
  width: 45px;
  text-decoration: none;
}

header .logo a img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header .logo a h2 {
  margin-left: 5px;
  color: #fff;
  font-size: 19px;

}

nav {
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li .dropdown-menu {
  cursor: pointer;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
}

nav ul li .dropdown-menu .user-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-radius: 1px solid #333;
}

.user-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-menu .profile-icon {
  font-size: 30px;
}

.menu {
  background-color: #fff;
  position: absolute;
  top: 150%;
  width: 300px;
  right: 14%;
  border-radius: 5px;
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.menu li {
  display: block;
  margin: 10px 0;
}

.menu li .menu-item {
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

.menu li .menu-item .icon {
  margin-right: 10px;
}

.menu li .menu-item a:hover {
  color: #000;
}

.form-control {
  height: 40px;
  width: 300px;
  position: relative;

}

.form-control input {
  height: 100%;
  width: 100%;
  padding: 5px 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: inherit;
  /* background-color: #f4f4f4; */
}

.form-control .search-icon {
  position: absolute;
  top: 35%;
  left: 15px;
  font-weight: 300;
  color: grey;

}

.container {
  width: 1100px;
  display: flex;
  margin: 120px auto;
  flex-direction: column;
}

.container-tags {
  width: 350px;
  position: fixed;
  right: 60px;
  z-index: 1;
  background-color: #fff;
  height: 250px;
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26); */
}

.container-tags h2 {
  font-size: 22px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;

}

.tag-wrapper p {
  background-color: #f4f4f4;
  padding: 7px 10px;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;

}

.tag-wrapper p:hover {
  background-color: #eee;
}

.page-numbers {
  list-style: none;
  display: flex;
}

.page-number {
  margin-left: 10px;
  background-color: #000;
  color: #fff;
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 2px;
}

.page-number:first-child {
  margin-left: 0;
}

.active-page {
  background-color: #333;
}

.card {
  width: 700px;
  background-color: #fff;
  padding: 20px;
  margin: 0 40px 20px 0;
  border-radius: 5px;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26); */
}

.blog-link {
  text-decoration: none;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-header .profile-info {
  display: flex;
  align-items: center;

}

.card-header .profile-info .profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile-info p {
  margin-right: 5px;
  color: #000;

}

.card-header span {
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 5px;
  color: grey;
}

.card-header .date {
  color: grey;
}

.card-body {
  display: flex;
  align-items: center;
}

.card-body h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #000;
}

.card-body p {
  color: #333;
}

.card-wrapper {
  width: 600px;
}

.content-image {
  height: 120px;
  width: 200px;
  margin-left: 20px;
}

.content-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card-footer .tag {
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;

}

.card-footer .tag-link {
  color: #333;
  text-decoration: none;
}

.card-footer .tag:hover {
  background-color: #eee;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-info p:last-child {
  color: grey;
}

.footer-icons {
  font-size: 20px;
  color: grey;
}

.footer-icons .icon {
  cursor: pointer;
}

.footer-icons .icon:first-child {
  margin-right: 10px;
}

.footer-icons .icon:hover {
  color: #000;
}


/* blog page */
.blog-container {
  width: 1100px;
  margin: 120px auto;
  display: flex;

}

.blog-wrapper {
  background-color: #fff;
  width: 750px;
  border-radius: 5px;
  padding: 20px;

}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.author-details {
  display: flex;
  align-items: center;
}

.author-profile-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.author-profile-photo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.blog-details {
  display: flex;
  flex-direction: column;

}

.blog-info {
  display: flex;
}

.blog-info p {
  margin-right: 7px;
  color: grey;
  font-size: 15px;
}

.blog-info p:last-child {
  margin-left: 7px;
}

.blog-info span {
  line-height: 12px;
  color: grey;
}

.share-links .link {
  margin-left: 20px;
  cursor: pointer;
  color: grey;
  font-size: 20px;
}

.share-links .link:hover {
  color: #000;
}

.share-links .link:last-child {
  font-size: 22px;
  margin-left: 30px;
}

.content-container h1 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.content-photo {
  height: 400px;
  width: 700px;
  margin-bottom: 30px;
}

.content-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-container article p {
  line-height: 25px;
  color: #333;
}

.author-info {
  background-color: #fff;
  width: 350px;
  height: 300px;
  padding: 50px 30px;
  border-radius: 5px;
  position: fixed;
  right: 40px;

}

.author-profile-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.author-profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

}

.author-name {
  margin-top: 10px;
}

.author-description,
.followers {
  color: grey;
  font-size: 15px;
}

.followers {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
}

.buttons .followBtn {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  color: #fff;
  background-color: #3795BD;
  font: inherit;
  border-radius: 100px;
  cursor: pointer;
}

.buttons .followBtn:hover,
.buttons .emailBtn:hover {
  background-color: #2F58CD;
  cursor: pointer;
}

.buttons .emailBtn {
  height: 35px;
  width: 35px;
  color: #fff;
  border: none;
  background-color: #3795BD;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* write page  */
.form-container {
  width: 800px;
  /* background-color: #fff; */
  margin: 110px auto;
  padding: 20px 30px;
}

.form-container form {
  width: 700px;
}

form h1 {
  font-size: 28px;
  margin-bottom: 10px;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 18px;
}

.form-group .form-input,
textarea {
  padding: 7px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 5px;
}

form .btn {
  padding: 10px 15px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #379237;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  margin-top: 20px;
}

form .btn:hover {
  background-color: #54B435;
}

.input-error {
  color: #D21312;
  margin-bottom: 10px;
}

/* register page  */
.form-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

form .error {
  color: #D21312;
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: capitalize;
}

.form-wrapper form {
  width: 500px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin: 40px 0 30px;
  padding: 30px;
}

.form-wrapper .form-group {
  margin-bottom: 15px;
}

/* .form-wrapper  p{
  margin-bottom: 20px;
} */
.form-wrapper form .register-link {
  text-decoration: none;
}

.form-wrapper .form-control {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font: inherit;

}

.register-button {
  margin: 5px 0 15px;
}

.register-button .btn {
  background-color: #000;
}

.register-button .btn:hover {
  background-color: #333;
}

/* search page */
.search-container {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.search-wrapper {
  margin-top: 120px;
}

/* / search error */
.search-error {
  margin-top: 20px;
}

.search-error h2 {
  color: #333;
  font-size: 30px;
}

.search-error h2 span {
  color: #000;
  font-style: italic;
}

.error-image {
  height: 300px;
  width: 400px;
}

.error-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: 40px;
}

/* profile-page */
.profile-wrapper {
  margin: 150px 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-details {
  display: flex;
  /* align-items: center; */
  width: 700px;
}

.user-details .user-detail-image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.user-detail-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-details .user-name {
  margin: 0 0 0 20px;
}

.user-details .user-name-details {
  color: #333;
  font-weight: 700;
  font-size: 19px;
}

.user-details p:nth-child(2) {
  color: grey;
  margin-bottom: 20px;
}

.user-detail-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.user-detail-wrapper .editBtn {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #333;
  border: none;
  color: #fff;
  font: inherit;
  cursor: pointer;
  margin-left: 300px;
}

.editBtn:hover {
  background-color: #000;
}

.user-blogs {
  margin-top: 50px;
  margin-left: 40px;
}


/* edit page  */
.edit-wrapper {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-wrapper form {
  width: 500px;
}

.edit-wrapper .form-input {
  background-color: #ccc;
}

.edit-wrapper .form-group textarea {
  height: 100px;
}

.edit-wrapper .upload-image {
  height: 100px;
  width: 100px;
  position: relative;
  margin: auto auto 30px;
  border-radius: 50%;
  border: 4px solid #ccc;
}

.edit-wrapper .upload-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

}

.edit-wrapper .upload-image .upload-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-color: #2C74B3;
  line-height: 33px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.upload-button input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.submitBtn {
  padding: 8px 15px;
  background-color: #2F58CD;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 5px;
  font: inherit;
}

.alert-success {
  background-color: rgba(123, 235, 123, 0.6);
  color: rgb(6, 187, 6);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* edit blog */
.edit-blog {
  position: absolute;
  top: 0;
  left: 0;
  height: 186vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

}

.edit-blog-wrapper {
  background-color: #fff;
  width: 700px;
  padding: 20px;
  border-radius: 5px;
  /* margin: 100px 0; */
  position: relative;
}

.edit-blog-wrapper h2 {
  margin-bottom: 20px;
}

.edit-blog-wrapper .form-input,
.edit-blog-wrapper textarea {
  border: 1px solid #333;
}

.edit-blog-wrapper .form-group img {
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #D21312;
  cursor: pointer;
}

@media only  screen and (max-width: 1090px) {
  .container{
    width:  100%;
    padding-left: 20px;
  }
  header{
    padding: 20px;
  }

  .container-tags{
    width: 300px;
    min-height: 280px;
    right: 20px;
  }
  .card{
    width: 600px;
  }
  .blog-container{
    width: 100%;
    padding-left: 20px;
  }
  .blog-wrapper{
    width: 600px;
  }
  .author-info{
    width: 300px;
    right: 20px;
  }
  .content-photo img{
    width: 550px;
  }
}
@media only screen and (max-width: 768px) {

  .container-tags,.author-info{
    display: none;
  }
  .card{
    width: 600px;
    margin: 0 auto 30px;
  }
  .page-numbers{
    margin-left: 40px;
  }
  
  
}